#container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      "1 2 3"
      ". . ."; 
    align-items: center; 
  }
  #1 { grid-area: 1; }
  #2 { grid-area: 2; }
  #3 { grid-area: 3; }